@use '../utils/_colors.scss' as c;

.launch {
  &__title {
    text-align: center;
    color: c.$White;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  &__countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
}
