@use '../utils/_colors.scss' as c;

.launch {
  &__title {
    text-align: center;
    color: c.$White;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 1.25rem;
    margin-top: -13rem;
    margin-bottom: 3.5rem;
  }

  &__countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;

    &-container {
      display: inherit;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }

    &-card {
      color: c.$Soft-red;
      background-color: c.$Dark-desaturated-blue;
      border-radius: .3rem;
      font-size: 2rem;
      padding: 1rem;
      position: relative;
      z-index: 10;
      overflow: hidden;
      box-shadow: 0 .4rem rgba(0,0,0,.3);

      &_top {
        position: absolute;
        height: 50%;
        width: 100%;
        inset: 0;
        z-index: -10;
        background-color: rgba(0,0,0,.2);

        &::after,
        &::before {
          position: absolute;
          content: '';
          background-color: c.$Very-dark-black-blue;
          height: .5rem;
          width: .5rem;
          border-radius: .5rem;
          bottom: -.2rem;
        }

        &::before {
          right: -.2rem;
        }

        &::after {
          left: -.2rem;
        }
      }
    }

    &-time {
      text-transform: uppercase;
      font-size: .6rem;
      letter-spacing: .2rem;
      color: c.$Grayish-blue;
    }
  }
}
